<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的购物车-小米商城</title>
		<link rel="stylesheet" type="text/css" href="./Include/css/style.css">
	</head>
	<body>
	<!-- start header -->
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.php?c=index&a=index" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">我的购物车</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>				
					<li><a href="./index.php?c=index&a=userinfo" target="_blank"><?php echo $_SESSION['home']['username']?></a></li>
					<li>|</li>
					<li><a href="./index.php?c=index&a=outlogin&id=<?php echo $_SESSION['home']['id']?>">退出登录</a></li>
				</ul>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" value="quanxuan" class="quanxuan" />全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fr">操作</div>
					<div class="clear"></div>
				</div>

				<?php if(!empty($_SESSION['cart'])){?>
				<?php foreach($_SESSION['cart'] as $value){?>
				<div class="content2 center">
					<div class="sub_content fl ">
						<input type="checkbox" value="quanxuan" class="quanxuan" />
					</div>
					<div class="sub_content fl"><img src="../public/goods/<?php echo $value['pic']?>" width="80"></div>
					<div class="sub_content fl ft20"><?php echo $value['name']?></div>
					<div class="sub_content fl "><?php echo $value['price']?></div>
					<div class="sub_content fl "><a href="./index.php?c=cart&a=jia&id=<?php echo $value['id']?>"><button>+</button></a></div>
					<div class="sub_content fl"><?php echo $value['num']?></div>
					<div class="sub_content fl"><a href="./index.php?c=cart&a=jian&id=<?php echo $value['id']?>"><button>--</button></a></div>
					<div class="sub_content fl"><?php echo $value['price']*$value['num']?></div>
					<div class="sub_content fl"><a href="./index.php?c=cart&a=del&id=<?php echo $value['id']?>">×</a></div>
					<div class="clear"></div>
				</div>				
				<?php 
				$total += $value['price']*$value['num'];
				$num += $value['num']?>
				<?php }?>				
		<div class="clear"></div>
		</div>
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>		
						<li><a href="./index.php?c=cart&a=delete">清空购物车</a></li>
						<li>|</li>							
						<li><a href="./index.php">继续购物</a></li>
						<li>|</li>
						<li>共<span><?php echo $num?></span>件商品，已选择<span>?</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span><?php echo $total?>元</span></div>

					<div class="jsanniu fr"><a href="./index.php?c=order&a=addOrder&total=<?php echo $total?>"><button class="jsan">去结算</button></a></div>					
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<?php }else{?>
				<div class="top2 center">								
					购物车为空！<a href="./index.php">点我去购物...</a>				
				<div class="clear"></div>
			</div>
			<?php }?>
		</div>
			
		</div>

  

	
	<!-- footer -->
	<!-- <footer class="center">
			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer> -->

	</body>
</html>
